{# vim:ft=htmljinja #}
{%-set page_title = "A propos de Cantalpinisme, Grand Parcours FFCAM"-%}
{%-set current_page = "aboutxldb"-%}
{% extends "page-xhtmlrdfa.jinja" %}
{%block content%}

{%call markdown()%}

## L'évènement Cantalpinisme

Depuis l’année 2012 Cantalpinisme rassemble les passionnés de la montagne
durant 2 journées dans le massif du Cantal. Cet évènement se compose de
multiples ateliers répartis du Puy Griou à la face Nord du Bataillouse en
fonction des conditions du terrain. Nous proposons ainsi des goulottes de
glace, progression sur arêtes, recherche de victimes ensevelies, échange avec
les gendarmes secouristes, et bien plus encore… Depuis 2013 se déroule aussi
des ateliers Ski de Montagne avec le concours du club Lioran Ski alpinisme.
Ces ateliers sont déclinés en deux versions: une première le samedi matin
pour les skieurs n’ayant jamais ou peu pratiqué le cette discipline; la
seconde le dimanche matin pour des skieurs ayant déjà une pratique régulière
du ski de montagne, et qui désirent développer leurs compétences.

Cantalpinisme est une manifestation de masse crée en 2012. Elle est orchestrée
par le club Aurillac Montagne Escalade.
{%endcall%}

{%endblock%}
