{# vi:ft=jinja: #}
{%-macro dates(ds,cat=None,id=None)-%}
  {%if ds-%}
    {%if id%}
      <div id="{{id}}" about="#{{id}}" class="vcalendar">
    {%else%}
      <div class="vcalendar">
    {%endif%}
    <ul rel="cal:component" class="component">
    {%for d in ds-%}
        {% if d.start is future_date %}
        {%if not cat or cat in d.cat%}
            {{rdfa.vevent(d, 'XLDB2017')}}
        {%endif%}
        {%endif%}
    {%-endfor%}
    </ul>
    </div>
  {%-endif%}
{%-endmacro-%}
