{# vim:ft=htmljinja #}
{%-set page_title = "Cantalpinisme 2018"-%}
{%-set current_page = "home"-%}
{% extends "page-xhtmlrdfa.jinja" %}
{%block head%}
<style type="text/css">
#landing {
  padding: 2em;
  font-size: 120%;
  text-align: center;
}
#landing .description {
  display: block;
  font-size: 150%;
}
#landing .location { display: block; font-size: 150%; }
#landing .geo { display: block; font-size: 50%; }
#landing .event-dates { display: block; font-size: 150%;}

.vcard {
  display: inline-block;
  width: 25%;
  margin:
  padding:
  text-align: center;
  border: 1px solid black;

}
</style>
{%endblock%}
{%block content%}

{%call markdown()%}
## Nouvelle édition!

La Cantal y Cimes est morte, vive Cantalpinisme !

A partir de cette année, notre week-end de découverte de l'alpinisme et du ski
de randonnée change de nom, et passe sous le label "Grand Parcours" de la FFCAM,
qui nous accorde sa confiance.

Présence indispensable de tous ceux qui souhaitent poursuivre l'aventure !

<img width="100%" src="{{"img/affiche.jpg" | url}}" alt="Affiche Cantalpinisme" />

Depuis 2012 Cantalpinisme rassemble les passionnés de la montagne
durant 2 journées dans le massif du Cantal.

Cet évènement se compose de multiples ateliers d'alpinisme, encadrés par les
bénévoles du club organisateur Aurillac
Montagne Escalade, et les Guides de Haute Montagne du Bureau des guides
d’Auvergne.

## 10 et 11 Mars 2018

Tarif de 45€

## Chalet des Galinottes, Le Lioran, Massif du Cantal, FRANCE

## Communauté Cantalpinisme

Rejoignez notre communauté pour être informé en temps réel:

[Communauté Cantalpinisme](https://www.facebook.com/cantalpinisme)

[Le reportage de France 3 sur CYC2016 est en ligne](http://france3-regions.francetvinfo.fr/auvergne/cantal/video-alpinisme-sur-les-cimes-du-puy-griou-950893.html)

> Le Lioran est au coeur du massif du cantal
{%endcall%}


{%endblock%}
