{# vim:ft=jinja #}
{%-set page_title = "Informations pratiques"-%}
{%-set current_page = "site"-%}
{%-set scripts = [site.scripts.jquery,
                  site.scripts.layers,
                  site.scripts.osm,
                  site.scripts.map]%}
{% extends "page-xhtmlrdfa.jinja" %}
{%block content%}

{%call markdown()%}


## Lieu et horaire

RDV le 10 mars à 8h au [Chalet des Galinottes](http://www.galinottes.net/index.php)

## Hébergement

Il est possible d’être hébergé sur place au [Chalet des Galinottes](http://www.galinottes.net/index.php)

## Train

**Gare du Lioran**: [Reserver ici](https://www.voyages-sncf.com/)

## Matériel nécessaire

### MATERIEL PERSONNEL DE SECURITE

* casque

* lunettes solaires + crème solaire

* baudrier d’escalade

* 2 longes + mousquetons à vis

* système d’assurage de type Reverso ou Huit

* au moins 1 piolet

* chaussures d’alpinisme rigides (boots de snow tolérées mais pas recommandées)

* crampons d’alpinisme acier (10 pointes minimum avec 2 pointes avant)

* 1 thermos avec boisson chaude (recommandé)

### MATERIEL COLLECTIF

* une corde de 50 m tel qu’un brin de rappel

Evitez de prendre une corde de falaise à simple en 70 m, c’est lourd et en plus
vous la porterez toute la journée. Si moins de 50 m vous ne pourrez pas participer aux ateliers goulottes.

## VETEMENTS

* bonnet

* T-shirt anti-transpirant

* veste intermédiaire de type polaire ou softshell

* veste imperméable et coupe vent de type GORE TEX ou équivalent

* doudoune (recommandé) pour les phases statiques

* pantalon coupe vent de type softshell ou GORE TEX

* collant (recommandé)

* 2 paires de gants (fins et chauds)

* chaussettes chaudes

* guêtres (recommandé)

**Compte tenu de la rigueur que peut avoir le climat auvergnat nous vous demandons
de ne pas prendre à la légère cette liste.**

Le secteur du Bataillouse est une zone assez ventée, les températures peuvent
être très basses malgré une météo anticyclonique. Vous allez évoluer en montagne
dans des itinéraires qui sont de vraies voies sécurisées pour l’occasion.
Vous aurez des phases statiques, en particulier s’il y a de l’affluence aux
ateliers ou à l’assurage. La doudoune et le thermos sont rarement de trop dans
ce cas là !
Bien que l’accès au col de Rombière-Bataillouse soit facilité par le télésiège,
la descente s’effectuera à pieds. En fonction des personnes 40 min à 1h30
peuvent être nécessaires pour rejoindre le parking de font d’Alagnon . Tout cela
pour vous dire que cet événement requiert d’être physiquement au moins un bon
randonneur.
Enfin si vous possédez des broches à glaces ou des coinceurs mécaniques, il est
inutile de les prendre. Tous les itinéraires seront équipés de cordes fixes avec
des mousquetons à clipper lors de votre passage.

## A l’attention des participants à l’atelier Ski

Dans la mesure où cet atelier vous mobilisera la journée entière sur le site
Rombière-Bataillouse, nous vous recommandons de ne pas participer aux deux
ateliers durant le week-end, sans quoi vous n’aurez pas le temps d’aller
pratiquer l’escalade sur glace dans les gorges de l’Alagnon. Vous pouvez louer
votre matériel de ski aux magasins « La Godille » et « J’Sports ».

{%endcall%}

{%endblock%}
