{# vim:ft=htmljinja #}
{%-set page_title = "Inscription"-%}
{%-set current_page = "register"-%}
{% extends "page-xhtmlrdfa.jinja" %}
{%block content%}

{%call markdown()%}

## Cantalpinisme 2018 10 - 11, Mars

## Tarifs 

* **Forfait 2 jours:  45 euros pour les licenciés, 50 sinon**


## Inscription

**[INSCRIPTION EN LIGNE](http://ame15.com/categorie/product/35-cantal-y-cimes-2017)**

ou

**[CLIQUER ICI POUR TELECHARGER LE FORMULAIRE D'INSCRIPTION](http://ame15.com/images/2017_2018/cantalpinisme/CANTALPINISME%202018.pdf)**

Tous les évènements ont lieu dans le massif du Cantal, en Auvergne, FRANCE.

Demande d'information et questions via notre [Communauté Cantalpinisme](https://www.facebook.com/cantalpinisme)
{%endcall%}


{%endblock%}
