/* ----- Additions ---------------------- */
table {
    margin: 0 0 2em;
    width: 100%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
table thead {
    border-bottom: 2px solid rgba(0, 68, 111, 0.8);
}
table tbody tr {
    border-color: rgba(0, 68, 111, 0.8) ;
    border-image: none;
    border-style: solid none;
    border-width: 1px 0;
}
table td {
    padding: 0.75em;
}
table th {
    font-size: 0.9em;
    font-weight: 900;
    text-align: left;
}
table tfoot {
    border-top: 2px solid rgba(0, 68, 111, 0.8);
}
table tbody tr:nth-child(2n+1) {
    background-color: rgba(144, 144, 144, 0.075);
}
th, td {
    border:none;
    padding: 0.5em;
}
#content > p{color:#636363;line-height: 1.3rem;text-align: justify;}
#content > p a {color:#535353;border-bottom: 2px solid rgba(0, 68, 111,0.5);text-decoration:none;}
#content > p a:hover{color:white;border-bottom-style:dotted;}
strong.highlight{color:white;background: none repeat scroll 0 0 rgba(0, 68, 111, 0.8); padding: 0 1px;}
ul.bullet-xldb {
    border-left: 2px solid rgba(0, 68, 111, 0.8);
    color: #333333;
    font-size: 1.1em;
    list-style-type: none;
    margin: 4px 0 12px;
    padding: 0 0 0 8px;
}
h2, h4, h5{color:rgba(0, 68, 111, 0.95);}
h4::before {
    content: "\27A1";
}
blockquote p {
    background: rgba(0, 68, 111, 0.9) none repeat scroll 0 0;
    border-left: 10px solid #000;
    color: #ffffff;
    font-family: tahoma;
    font-size: initial;
    font-style: italic;
    margin: 0 0 2em;
    padding: 0.5em 1em;
    text-indent: 0;
}
blockquote{border-left:none;padding:0}
#nav > ul > li {border:none;background-color:inherit;}

#content > p{color:#636363;line-height: 1.3rem;text-align: justify;}
#content > p a {color:#535353;border-bottom: 2px solid rgba(0, 68, 111, 0.5);text-decoration:none;}
#content > p a:hover{color:white;border-bottom-style:dotted;}
