@import "reset.scss";
@import "lib.scss";

@import "global.scss";
@import "navs.scss";
@import "header.scss";
@import "footer.scss";
@import "infobar.scss";
@import "dates-and-feed.scss";
@import "sponsors.scss";
@import "news.scss";
@import "main.scss";
@import "rdfa.scss";
@import "form.scss";

@import "landscape.scss";
@import "desktop.scss";

#map {
    .olMapViewport {
        max-width: 95%;
        border: $content-block-border;
        margin: auto;
    }
    height: 30em;
    max-height: 80%;
}

@import "additions.scss";
