/*=== Dates and feed elements ===*/
.callink, .feedlink { background-repeat: no-repeat; }
.feedlink { background-image: $feed-icon; }
.callink { background-image: $calendar-icon; }

main {
    .callink, .feedlink {
        display: block;
        margin: auto {
            bottom: 2em;
        }
        padding: 1ex {
            left: 50px
        }
        min-height: 50px;
        width: 40%;

        border: thin solid $colors-text-medium;

        background: {
            position: 2px 2px;
            size: 46px 46px;
        }

        text-align: center;
    }
}

#infobar {
    .feedlink, .callink {
        display: inline-block;
        height: 1.5em; 
        width: 1.5em;

        background: {
            position: left center;
            size: cover;
        }

        color: transparent;
        vertical-align: bottom;
    }
}




