/*==== Desktop specific styles ====*/
$full-width: 80em;
$header-height: 0.24 * $full-width;
$left-bar-size: 0.2;
$right-bar-size: 0.2;
$content-size: 1 - $right-bar-size - $left-bar-size;
$box-shadow: .1em .1em .1em $colors-shadow;
$footer-margin: 2em;

@media (min-width: $full-width) {

    #skip {
        display: none;
    }

    html {
        background-color: $colors-background-light;
    }

    body {
        background-color: $colors-background-xlight;
        box-shadow: 0 0 1em $colors-shadow;
        margin: auto;
        max-width: $full-width;
        border: $menu-border {
            top: none;
        }
    }

    #content {
        padding: 0 {
            bottom: $footer-margin;
        }
        width: percentage($content-size);
        max-width: $content-size * $full-width;
        min-height: 20em;
        margin-left: percentage($left-bar-size);
        float: left;

        > p,h1,h2,h3,h4,article,section {
            margin-left: .2em;
            margin-right: .2em;
        }
    }

    #footer {
        height: auto;
        position: static;
        clear: both;
        text-align: center;
        width: 100%;
        max-width: $full-width;
        margin: 0;
        padding: .1em 0;
        background-color: $colors-background-medium;
        color: $colors-text-light;
    }

    #header {
        font-size: 100%;
        height: $header-height;
        margin: 0;
        padding: 0 1em;
        color: $colors-text-light;
        text-shadow: 0.15em 0.15em 0.1em $colors-shadow;
        h1 { 
            font-size: 300%; 
            padding-top: .5em;
        }
        h2 { font-size: 100%; }
        .infos {font-size: 120%;}
        background: {
            repeat: no-repeat;
            position: right;
            size: 100%;
        }
    }

    .b0 { background-image: url($base + "/img/banner0.jpg") }
    .b1 { background-image: url($base + "/img/banner1.jpg") }
    .b2 { background-image: url($base + "/img/banner2.jpg") }
    .b3 { background-image: url($base + "/img/banner3.jpg") }
    .b4 { background-image: url($base + "/img/banner4.jpg") }
    .b5 { background-image: url($base + "/img/banner5.jpg") }

    #logo {
        height: 47px;
        margin: auto {
            top: 22ex;
            left: 1em;
        }
    }

    #infobar {
        margin: 0;
        padding: 0 {
            bottom: $footer-margin;
        }
        width: percentage($right-bar-size);
        max-width: $right-bar-size * $full-width;
        float: right;
    }

    .infobar-elt {
        border: $content-block-border;
        background-color: $colors-background-xlight;
        margin: .5em ;
        box-shadow: $box-shadow;
        font-size: 80%;
    }

    .sponsor {
        width: 40%;
        max-width: 100%;
        &.large {
            width: 85%;
        }
    }

    #nav {
        font-size: 100%;
        padding: 0;
        width: percentage($left-bar-size);
        max-width: $left-bar-size * $full-width;
        color: $colors-text-dark;
        border: none;
        top: $header-height + .2em;
        font-weight: bold;
        background-color: $colors-background-xlight;

        h2 {
            border: none;
            margin: 0;
            padding: 0;
        }

        > ul > li {
            display: block;
            background-color: $colors-background-light;
            padding: .5em;
            margin: .5em;
            border: $menu-border;
            box-shadow: $box-shadow;
            &:hover {
                color: $colors-text-light;
                background-color: $colors-background-medium;
            }
        }
        li {
            display: list-item;
            ul {
                font-size: 80%;
                border: none;
                color: $colors-text-dark;
            }
        }
        a { 
            display: inline;
            padding: 0;
            font-size: 100%;
            &:after {
                padding: 0;
                content: none;
            }
            &:hover {
                color: $colors-text-light;
            }
        }
    }

    #infobar .event-dates {
        display: block;
        margin-left: .5em;
    }
}
