/*=== Footer ===*/

#footer {
    @extend %menu;
    border-top: $menu-border;
    padding: .5em 0;
    text-align: center;
    line-height: 1.2;

    a {
        text-decoration: underline;
    }
}



