/*=== Info bar (aside) ===*/
#infobar {
    @extend %content-block;
    background-color: $colors-background-xlight;
}

.infobar-elt {
    margin: .5em 0;
    border-top: $content-block-border;

    > * {
        padding: .2em .5em;
    }

    > h1 {
        text-align: right;
        font-weight: bold;
        background-color: $colors-background-medium;
        border-bottom: thin solid $colors-text-medium;
        color: $colors-text-light;
    }

}
