
$base: "";
//=== Colors ===
$colors-base: hsl(210deg,40%,10%);

$colors-background-medium: lighten($colors-base, 20%);
$colors-background-dark: $colors-background-medium;
$colors-background-light: hsl(210deg, 10%, 85%);
$colors-background-xlight: white;
$colors-shadow: rgba(darken($colors-background-dark, 20%), .6);


$colors-text-medium: desaturate($colors-base, 10%);
$colors-text-light: white;
$colors-text-dark: darken($colors-text-medium, 40%);

$calendar-icon: url($base+"/img/icalendar.png");
$feed-icon: url($base+"/img/rss.png");


//=== Global inheritance ===
%content-block {
    display: block;
    padding-top: 3.5em;
    //width: auto;
}

$menu-border: thin solid $colors-text-dark;
$content-block-border: thin solid $colors-text-dark;

%menu {
    display: block;
    vertical-align: middle;
    background-color: $colors-background-dark;
    color: $colors-text-light;
}

//=== Globals mixins and functions ===
@mixin hyphenate($v: auto) {
    -moz-hyphens: $v;
    -webkit-hyphens: $v;
    -o-hyphens: $v;
    -ms-hyphens: $v;
    hyphens: $v;
}


