/*=== Main content ===*/

main {
    width: auto;
    padding: .25em;
    color: $colors-text-dark;
    background-color: $colors-background-xlight;

    ul {
        margin: 1em;
        padding-left: 1em;
    }

    li {
        display: list-item;
        margin: .2em 0;
    }

    p {
        text-align: justify;
        @include hyphenate;
        margin: 1em 0;
    }

    a {
        font-style: italic;
        text-decoration: underline;
        &:hover,&:focus,&:active {
            background-color: $colors-background-medium;
            color: $colors-text-light;
        }
    }

    h1, h2, h3 {
        &:target {
            background-color: $colors-background-medium;
        }
    }

    h1 {
        font-size: 150%;
        font-weight: bold;
        text-align: left;
        border-bottom: $content-block-border;
        margin: 1em 0;
    }

    h2 {
        margin-top: 1em;
        margin-bottom: 0.3em;
        font-size: 120%;
        font-weight: bold;
    }

    h3 {
        margin-top: 0.8em;
        margin-bottom: 0.2em;
        font: {
            size: 100%;
            weight: bold;
        }
    }

    h4 {
        margin: 0.1em;
        margin-top: 0.5em ;
        font: {
            size: 100%;
            style: italic;
        }
    }



    .talk {

        clear: both;
        margin-bottom: 6ex;

        h2 { clear: both; }

        .vcard {
            width: 30%;
            float: right;
            margin: 1em;
            padding: .5em;
            text-align: center;
            border: $content-block-border;

            .fn {
                display: block;
                &:after { content: none;}
            }
            img {
                display: block;
                width: 100%;
                border: $content-block-border;
            }

        }
    }

    .program {
        dt {
            font-style: italic;
            margin-top: 1em;
        }

        dd {
            margin-left: 2em;
        }
    }

    .paper {
        .title {
            font-style: italic;
        }
    }
}

