
.vcard {
    margin: .1em;
    padding: .2em;

    img {
        display: none;
    }
}

.fn {
    &:after { content: ": "}
}

.org {
    font-style: italic;
}

.adr {
    display: inline;
}

.vevent {
    .summary {
        font-weight: bold;
    }
}

#infobar .vevent {
    display: block;
}

