/*=== Sponsors ===*/

.sponsors {
    text-align: center;
}

.sponsor {
    display: inline-block;
    width: 25%;
    max-width: 100px;
    padding: .3em;
    margin: .2em;
    img { width: 100%; }
}


